* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border: initial;
  background-color: initial;
  color: inherit;
  font: inherit;
  outline: none;
}

@keyframes fade-in-from-top {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.app-container {
  background-image: url("images/field_grayscale.png");
  height: 2000px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.app {
  font-family: "Open Sans", sans-serif;
}

.header {
  background-color: #f3e52c;
  color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  height: 80px;
}

.logo {
  width: 247px;
  animation: fade-in-from-top 0.5s;
}

.menu {
  display: none;
  animation: fade-in-from-top 0.5s;
}

.dropdown {
  text-align: center;
  display: flex;
  align-items: center;
  column-gap: 12px;
  animation: fade-in-from-top 0.5s;
  position: relative;
}
.dropdown__item {
  display: flex;
  position: relative;
}

.dd-toggle {
  cursor: pointer;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  column-gap: 3px;
  position: relative;
  transition: all 0.43s;
  letter-spacing: 1px;
}
.dd-toggle::before {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  background-color: #000;
  transition: all 0.43s;
}
.dd-toggle__icon {
  font-size: 8px;
}

.dd-toggle::before,
.dd-menu__item:hover .dd-toggle::before,
.dd-menu__item:focus .dd-toggle::before {
  width: 0;
}

.dd-toggle:hover::before,
.dd-toggle:focus::before,
.dd-menu__item:hover .dd-toggle::before,
.dd-menu__item:focus .dd-toggle::before {
  width: 100%;
}

.dd-menu {
  font-size: 80%;
  display: none;
  position: absolute;
  background-color: #000;
  min-width: 250px;
  z-index: 1;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  animation: fade-in 1s 0.5s backwards;
  transform: translateY(25px);
  border-bottom: 3px solid #f3e52c;
}
.dd-menu__item {
  color: #fff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  position: relative;
  transition: color 0.2s;
}
.dd-menu__item:hover {
  color: #f3e52c;
}
.dd-menu__item::before {
  content: "";
  position: absolute;
  left: 0;
  width: 0;
  height: 20px;
  background-color: #f3e52c;
  transition: all 0.2s;
}
.dd-menu__item:hover::before {
  width: 10px;
}

.dropdown__item:hover .dd-menu {
  display: flex;
  flex-direction: column;
  align-items: start;
  animation: fade-in 1s 0.2s backwards;
}

.equipment,
.tanks {
  min-width: 370px;
}

.catalog {
  width: 247px;
  display: flex;
  animation: fade-in-from-top 0.5s forwards;
}

.search {
  border-bottom: 2px solid #000;
  display: flex;
}
.search__submit {
  cursor: pointer;
  padding-bottom: 5px;
  padding-right: 4px;
}
.search__input, .search__input:active {
  border: none;
  outline: none;
  background-color: inherit;
}

.cart {
  padding-left: 20%;
  font-size: 10pt;
  cursor: pointer;
}

.video {
  width: 100%;
  display: flex;
  animation: fade-in 0.3s;
}

.categories-nav {
  display: flex;
  justify-content: center;
  column-gap: 7vw;
  padding: 8%;
}

.block {
  display: flex;
  flex-direction: column;
  border: 15px solid #f3e52c;
  text-transform: uppercase;
  animation: fade-in-from-top 1s 0.33s backwards;
  transition: all 0.4s;
}
.block:hover {
  transform: translateY(-10px);
}
.block__img {
  height: 320px;
  width: 390px;
  object-fit: cover;
}
.block__desc {
  font-size: 25px;
  text-decoration: none;
  background-color: #f3e52c;
  color: #000;
  letter-spacing: 1px;
  padding-left: 1px;
}

.brands-nav {
  background-color: #000;
}

.ribbon {
  background-color: #f3e52c;
  width: 100%;
  height: 20vh;
  margin-bottom: 225px;
  margin-top: 225px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 4%;
}
.ribbon__img {
  height: 100px;
  transition: all 0.4s;
  cursor: pointer;
}
.ribbon__img:hover {
  transform: translateY(-7.5px);
}

.norwesco {
  height: 40px;
}

.teejet {
  height: 60px;
  transform: translateY(6px);
}

.promo__img {
  width: 100%;
}

.promo__link {
  background-color: #000;
}

.footer {
  color: #FFF;
  font-weight: 900;
  background-color: #000;
}

.footer-info {
  display: flex;
  column-gap: 80px;
  padding-left: 80px;
  padding-top: 80px;
  padding-bottom: 60px;
  opacity: 0.5;
}

.footer-info-block__heading {
  font-size: 90%;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.footer-info-block__content {
  font-size: 75%;
  list-style: none;
  padding-left: 5.5px;
}

.footer-info-block__item {
  cursor: pointer;
  transition: all 0.4s;
}

.footer-info-block__item:hover {
  transform: translateX(2px);
}

.sales {
  padding-top: 5px;
  display: flex;
  flex-direction: column;
  color: #f3e52c;
  opacity: 1;
  row-gap: 5px;
  font-size: 17pt;
}

.copyright {
  font-size: 60%;
  opacity: 0.3;
  display: flex;
  justify-content: center;
}

@media (max-width: 1275px) {
  .menu {
    display: none;
  }
  .header {
    font-size: 85%;
    column-gap: 10px;
  }
  .cart {
    padding-left: 12px;
    margin-right: 10px;
  }
}
@media (max-width: 1191px) {
  .logo {
    width: 200px;
  }
  .catalog {
    width: 200px;
    margin: 15px;
  }
}
@media (max-width: 1110px) {
  .logo {
    width: 190px;
  }
  .catalog {
    width: 190px;
    margin: 13px;
  }
}
@media (max-width: 1090px) {
  .logo {
    width: 190px;
  }
  .catalog {
    width: 190px;
    margin: 13px;
  }
}
@media (max-width: 1079px) {
  .logo {
    width: 180px;
  }
  .catalog {
    width: 50px;
    margin: 13px;
  }
  .search__input {
    display: none;
  }
  .search {
    padding: 0px;
    border: none;
  }
  .search__submit {
    font-size: 15px;
    padding: 0px;
    padding-right: 7px;
  }
  .cart {
    padding: 0px;
    font-size: 15px;
  }
}
@media (max-width: 929px) {
  .header {
    justify-content: center;
    padding: 0px;
  }
  .logo {
    width: 200px;
    order: 2;
    margin-left: auto;
    margin-right: auto;
  }
  .catalog {
    margin: 0px;
    margin-right: 15px;
    order: 3;
  }
  .dropdown,
  .search__input {
    display: none;
  }
  .search {
    padding: 0px;
    border: none;
  }
  .search__submit {
    font-size: 20px;
    padding: 0px;
    padding-right: 10px;
  }
  .cart {
    padding: 0px;
    font-size: 20px;
  }
  .menu {
    display: initial;
    cursor: pointer;
    font-size: 20px;
    order: 1;
    padding-left: 15px;
  }
}
@media (max-width: 520px) {
  .logo {
    width: 175px;
    order: 2;
    margin-left: auto;
    margin-right: auto;
  }
  .catalog {
    margin: 0px;
    margin-right: 8px;
    order: 3;
  }
  .menu {
    display: initial;
    cursor: pointer;
    font-size: 20px;
    order: 1;
    padding-left: 8px;
  }
}
